#amplify-do-not-edit-begin
amplify\#current-cloud-backend
amplify.config/local-*
amplifylogs
amplifymock-data
amplifymock-api-resources
amplifybackend/amplify-meta.json
amplifybackend/.temp

node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end