.leftMessageContent .ant-pro-chat-list-item-message-content{
  padding: 8px 16px 8px 16px;
  gap: 0px;
  border-radius: 18px 18px 18px 0px;
  background: rgba(241, 241, 241, 1);
}
.ant-pro-chat-chat-list-container {
  overflow-y: auto !important;
}

.ant-pro-chat-list-item.ant-pro-chat-list-item-left{
  align-items: flex-end;
}
.ant-pro-chat-list-item.ant-pro-chat-list-item-left .ant-pro-chat-list-item-actions{
  display: none;
}
.ant-pro-chat-list-item.ant-pro-chat-list-item-right .ant-pro-chat-list-item-message-content{

  padding: 8px 16px 8px 16px;
  gap: 0px;
  border-radius: 18px 18px 4px 18px;
  background: rgba(250, 228, 203, 1);
}
.lui-input-area #question {
  box-shadow: none;
}
