OPENAI_API_KEY="YOUR_API_KEY"

# Required for agent
# SERPAPI_API_KEY="YOUR_API_KEY"

# Required for retrieval
# SUPABASE_PRIVATE_KEY="YOUR_SUPABASE_PRIVATE_KEY"
# SUPABASE_URL="YOUR_SUPABASE_URL"

# Required for Auth0
# AUTH0_ISSUER_BASE_URL="YOUR_AUTH0_ISSUER_BASE_URLm"
# AUTH0_SECRET="YOUR_AUTH0_SECRET"
# AUTH0_BASE_URL="YOUR_AUTH0_BASE_URL"
# AUTH0_CLIENT_ID="YOUR_AUTH0_CLIENT_ID"
# AUTH0_CLIENT_SECRET="YOUR_AUTH0_CLIENT_SECRET"


# YOUR 科学上网 proxy
PROXY_URL=http://127.0.0.1:6152
