# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
__pycache__/
*.pyc
**/*.pyc
# dependencies
node_modules/

server/temp/

venv
.venv/

# testing
/coverage
.coverage

# next.js
.next/
out/

.ruff_cache/

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarnrc.yml

# local env files
.env*.local
.env*.pre
.env
*.env
*.env.local
# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.yarn
/server/.aws-sam/*
.aws-sam/*

# IDE
.idea
**/.vscode/

# Pytest
.pytest_cache

dist/
lui/src/style.css

#amplify-do-not-edit-begin
amplify\#current-cloud-backend
amplify.config/local-*
amplifylogs
amplifymock-data
amplifymock-api-resources
amplifybackend/amplify-meta.json
amplifybackend/.temp

node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end