@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: #F3F4F6;
  min-height: 100vh !important; 
  margin: 0;
  padding: 0;
}
body {
  color: #131318;
  background: #F3F4F6;
}

body input,
body textarea {
  color: #131318;
}

a {
  color: #2d7bd4;
  text-decoration: none;
}

p {
  margin: 8px 0;
}

code {
  color: #ffa500;
}

li {
  padding: 4px;
}

@keyframes leftToRight {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes rightToLeft {
  0% {
    width: 0%;
    right: 0;
  }
  100% {
    width: 100%;
    right: 0;
  }
}

@keyframes topToBottom {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes bottomToTop {
  0% {
    height: 0%;
    top: 100%;
  }
  100% {
    height: 100%;
    top: 0;
  }
}

.animate-borders .border-top {
  animation: leftToRight 1.5s ease-out forwards;
}

.animate-borders .border-side {
  animation: bottomToTop 1.5s ease-out forwards;
}


.animate-borders .border-bottom {
  animation: rightToLeft 1.5s ease-out forwards;
}
