@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  background-color: #F3F4F6;
  margin: 0; 
  padding: 0; 
  min-height: 100%;
}
body {
  color: #131318;
  background: #F3F4F6;
}

body input,
body textarea {
  color: #131318;
}

a {
  color: #2d7bd4;
  text-decoration: none;
}

p {
  margin: 8px 0;
}

code {
  color: #ffa500;
}

li {
  padding: 4px;
}
