@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #131318;
  background: #f8f8f8;
}

body input,
body textarea {
  color: #131318;
}

a {
  color: #2d7bd4;
}

a:hover {
  border-bottom: 1px solid;
}

p {
  margin: 8px 0;
}

code {
  color: #ffa500;
}

li {
  padding: 4px;
}
