fastapi==0.100.1
starlette==0.27.0
uvicorn[standard]==0.23.2
python-dotenv==1.0.0
openai
mangum
langserve
langchain_community>=0.3,<0.4
langchain>=0.3,<0.4
langchain_google_genai
PyGithub==2.3.0
GitPython>=3.1.43
python-multipart
supabase
authlib==0.14.3
boto3>=1.34.84
PyJWT
pydantic>=2.7.0
unstructured>=0.15.9
python-jose>=3.3.0
six>=1.16.0
jose>=1.0.0
itsdangerous==2.2.0
fastapi_auth0==0.5.0
requests
httpx==0.27.2
urllib3>=2.2.2
toolz
whiskerrag>=0.0.15