.custom-nav-bar {
  height: 80px !important;
  padding: 24px 12px 24px 12px;
  display: flex;
}
.custom-nav-brand {
  width: 115px !important;
  flex-grow: 0;
}
.custom-nav-content{
  flex: 1 !important;
}
.custom-nav-tab-checked{
  border: 1px solid #000;
}
.custom-nav-tab-checked a{
  background-color:  #FAE4CB!important;
}